<p id="notice"><%= notice %></p>

<h1>My Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      
      <th colspan="5"></th>
      <th>Hours</th>
        <td></td>
      
    
  </thead>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to 'New Project', new_project_path %>
